<!DOCTYPE html>
<html>

<head>
        <meta charset="UTF-8">
        <title>Hello World!</title>
        <link rel="stylesheet" href="./css/iview.css">
        <link rel="stylesheet" href="./css/style.css">


</head>

<body style="-webkit-app-region: drag">
        <div id='app'class = 'tbody'>

                                     
                                        <Card :bordered="false" style= 'width:100%' v-if='!button.add'>
                                                <p slot="title">模型列表</p>
                                                <i-Table  :height = 'getTabH'size = "small" w class = 'table' :columns="columns" :data="models.model"></i-Table>
                                        </Card>
                                        <Card :bordered="false" style= 'width:100%' v-if='button.add' >
                                                <p slot="title">xxx表编辑</p>
                                                <i-Table  :height = 'getTabH'size = "small"  class = 'table' :columns="columns" :data="models.model"></i-Table>
                                        </Card>

        </div>
</body>

</html>

<script type="text/javascript" src="./js/vue.js"></script>
<script type="text/javascript" src="./js/iview.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
<script type='text/javascript'>
        const ipc = require('electron').ipcRenderer
        new Vue({
                el: '#app',
                data: {

                        models: {
                                name: '',
                                table: [],
                                model:[{}],
                        },
                        width:0,
                        height:0,
                        columns:[
                                {
                                        type: 'expand',
                                        width: 20,
                                        align:'right',
                                        render: (h, params) => {
                                        return h(expandRow, {
                                                        props: {
                                                                row: params.row
                                                        },
                                                        style: {
                                                                'cursor':'pointer',
                                                        }
                                                })
                                        }
                                },
                                {
                                        width:'120',
                                        title: '名称',
                                        key: 'key',
                                        
                                 
                                },
                                {
                                        title: '类型',
                                        key: 'type',
                                        width:'150px',
                                        render:(h,params) =>{
                                                var str = "";
                                                var flag = true;
                                                var num = 0;
                                                var data = params.row.type.ps;
                                                show(data);
                                                return str;
                                                function show(data){
                                                        num++;
                                                        if(typeof data[0] === 'object'){
                                                                flag = false;
                                                                str +="ARRAY("+data[0].name+"(";
                                                                show(data[0].ps);
                                                        }else{
                                                                if(flag == true){                              
                                                                    str = params.row.type.name+"("
                                                                }

                                                                for(var item of data){
                                                                        str+=" "+item+" "          
                                                                }
                                                                for(var i=0; i<num; i++){
                                                                        str+=")"
                                                                }
                                                               
                                                        }
   
                                                }                                             
                                        }
                                },
                                {
                                        title: '备注描述',
                                        key: 'comment',
                                        ellipsis:'true',
                                   
                                },
                                {
                                        width:'100px',
                                        title: '默认值',
                                        key: 'defaultValue',
                                    
                                },
                                {
                                        width:'30',
                                        title: '主键',
                                        key: 'primaryKey',
                                        render:(h,params)=>{
                                                if(params.row.primaryKey){
         
                                                        return h('div', [
                                                                h('p', {
                                                                style: {
                                                                        color:'green'
                                                                },
                                                                }, '✔'),
                                                        ]);
                                                }else{
                                                    
                                                        return h('div', [
                                                                h('p', {
                                                                style: {
                                                                        color:'red'
                                                                },
                                                                }, '✘'),
                                                        ]);
                                                }
                                        }
                                      
                                },
                                {
                                        width:'30',
                                        title: '为空',
                                        key: 'allowNull',
                                        render:(h,params)=>{
                                                if(params.row.allowNull){
         
                                                        return h('div', [
                                                                h('p', {
                                                                style: {
                                                                        color:'green'
                                                                },
                                                                }, '✔'),
                                                        ]);
                                                }else{
                                                    
                                                        return h('div', [
                                                                h('p', {
                                                                style: {
                                                                        color:'red'
                                                                },
                                                                }, '✘'),
                                                        ]);
                                                }
                                        }
                                 
                                },
                                {
                                        width:'30',
                                        title: '独一',
                                        key: 'allowNull',
                                        render:(h,params)=>{
                                                if(params.row.allowNull){
         
                                                        return h('div', [
                                                                h('p', {
                                                                style: {
                                                                        color:'green'
                                                                },
                                                                }, '✔'),
                                                        ]);
                                                }else{
                                                    
                                                        return h('div', [
                                                                h('p', {
                                                                style: {
                                                                        color:'red'
                                                                },
                                                                }, '✘'),
                                                        ]);
                                                }
                                        }
                                  
                                },
                                {
                                        title: '操作',
                                        key: 'key',
                                        width: 60,
                                        
                                        render: (h, params) => {
                                                return h('div', [
                                                        h('a', {
                                                        props: {
                                                                type: 'ghost',
                                                                size: 'small'
                                                        },
                                                        style: {
                                                                marginRight: '5px',
                                                                color:''
                                                        },
                                                        on: {
                                                                click: () => {
                                                                        this.button.add = true;
                                                                }
                                                        }
                                                        }, '编辑'),
                                                        h('a', {
                                                        props: {
                                                                type: 'ghost',
                                                                size: 'small'
                                                        },
                                                        on: {
                                                                click: () => {
                                                                        
                                                                }
                                                        }
                                                        }, '删除')
                                                ]);
                                        }
                                }
                        ]
                },

 

        })

</script>
