::-webkit-scrollbar {width:0;}


pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

body{
    padding:5px;
}

.layout-content{
    min-height: 200px;
    margin: 15px;
    background: #fff;
    border-radius: 4px;
}

.ivu-tabs-nav-container{
    font-size:10px;
    margin:0px;
}

.ivu-tabs-bar{
    margin-bottom:1px;
}

.clear{
    height:30px;
    width:100%;
}

.shaix{
    position: fixed;
    top:15px;
}

.content{
    width:100%;
}

.ivu-table-expanded-cell{
    background: red;
}

.ivu-table .demo-table-info-cell-name {
    background-color: #95D6F1;
    color: #fff;
}



